parameters:
	level: 5
	treatPhpDocTypesAsCertain: false
	paths:
		- .
	excludePaths:
		- Tests/*
		- vendor/*
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			path: Entity/BaseSetting.php
		- '#^Property Craue\\ConfigBundle\\CacheAdapter\\DoctrineCacheBundleAdapter::\$cache has unknown class Doctrine\\Common\\Cache\\CacheProvider as its type\.$#'
		- '#^Parameter \$cache of method Craue\\ConfigBundle\\CacheAdapter\\DoctrineCacheBundleAdapter::__construct\(\) has invalid type Doctrine\\Common\\Cache\\CacheProvider\.$#'
		- '#^Call to method \w+\(\) on an unknown class Doctrine\\Common\\Cache\\CacheProvider\.$#'
